<h3>The Title of the New Project:</h3>

<form action="/projects" method="post">
  <label for="project_name">Project title</label>
  <input name="project_name" type="text">

  <button type="submit">Add project</button>
</form>
