<h1>Below is a list of all projects we utilize our volunteers for.</h1>

<h2>Click on a project to see the volunteers working on it</h2>
<hr>
<% if @projects.any?() %>
  <h3>Here are your projects:</h3>

  <ul>
    <% @projects.each() do |project| %>
      <li><a href="/projects/<%= project.id()%>"><%= project.project_name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are currently no projects we are utilizing volunteers for.</p>

<% end %>

<a href="/">Back Home</a>
