
<h1><%= @volunteer.name() %></h1>

<hr>
<form action="/volunteer_delete/<%= @volunteer.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit">Delete this Volunteer from the Database.</button>

</form>
<hr>
<h3>Fill in this form to change the name of the volunteer</h3>
<form action="/update_volunteer/<%= @volunteer.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Change the name of this volunteer</label>
  <input type="text" name="name">

  <button type="submit">Change the name of this volunteer</button>
</form>


<hr>

<div class="container">
  <a href="/">Home</a>
  <a href="/volunteers">View All Volunteers</a>
  
</div>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
